.category {
  display: flex;
  align-items: center;
  margin-right: 30px;
  position: relative;
  background-color: white;
}

.category:hover .category__wrapper {
  display: block;
}

.category__text:hover {
  color: var(--primary-color);
}

.category img {
  margin-right: 15px;
}

.category__wrapper {
  display: none;
  width: 247px;
  height: 880px;
  position: absolute;
  background-color: white;
  top: 53px;
  left: 2px;
  z-index: 10;
}

.category__item {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
}

.category__item:hover {
  background-color: #f7f7f7;
  cursor: pointer;
  color: var(--primary-color);
}

.category__title {
  font-size: 14px;
  font-weight: 400;
}

/* 선물하기 */
.category__item:first-child::before {
  content: "";
  background: url(../../imgs/Icon/MenuIcon-sprite.png) no-repeat;
  background-size: 32px;
  background-position: -4px -4px;
  width: 25px;
  height: 25px;
  margin-right: 12px;
}

/* 채소 */
.category__item:nth-child(2)::before {
  content: "";
  background: url(../../imgs/Icon/MenuIcon-sprite.png) no-repeat;
  background-size: 32px;
  background-position: -4px -245px;
  width: 25px;
  height: 25px;
  margin-right: 12px;
}

/* 과일‧견과‧쌀 */
.category__item:nth-child(3)::before {
  content: "";
  background: url(../../imgs/Icon/MenuIcon-sprite.png) no-repeat;
  background-size: 32px;
  background-position: -4px -430px;
  width: 25px;
  height: 25px;
  margin-right: 12px;
}

/* 수산‧해산‧건어물 */
.category__item:nth-child(4)::before {
  content: "";
  background: url(../../imgs/Icon/MenuIcon-sprite.png) no-repeat;
  background-size: 32px;
  background-position: -4px -564px;
  width: 25px;
  height: 25px;
  margin-right: 12px;
}

/* 정육‧계란 */
.category__item:nth-child(5)::before {
  content: "";
  background: url(../../imgs/Icon/MenuIcon-sprite.png) no-repeat;
  background-size: 32px;
  background-position: -4px -82px;
  width: 25px;
  height: 25px;
  margin-right: 12px;
}

/* 국‧반찬‧메인요리 */
.category__item:nth-child(6)::before {
  content: "";
  background: url(../../imgs/Icon/MenuIcon-sprite.png) no-repeat;
  background-size: 32px;
  background-position: -4px -190px;
  width: 25px;
  height: 25px;
  margin-right: 12px;
}

/* 샐러드‧간편식 */
.category__item:nth-child(7)::before {
  content: "";
  background: url(../../imgs/Icon/MenuIcon-sprite.png) no-repeat;
  background-size: 32px;
  background-position: -4px -377px;
  width: 25px;
  height: 25px;
  margin-right: 12px;
}

/* 면‧양념‧오일 */
.category__item:nth-child(8)::before {
  content: "";
  background: url(../../imgs/Icon/MenuIcon-sprite.png) no-repeat;
  background-size: 32px;
  background-position: -4px -272px;
  width: 25px;
  height: 25px;
  margin-right: 12px;
}

/* 생수‧음료‧우유‧커피 */
.category__item:nth-child(9)::before {
  content: "";
  background: url(../../imgs/Icon/MenuIcon-sprite.png) no-repeat;
  background-size: 32px;
  background-position: -4px -140px;
  width: 25px;
  height: 25px;
  margin-right: 12px;
}

/* 간식‧과자‧떡 */
.category__item:nth-child(10)::before {
  content: "";
  background: url(../../imgs/Icon/MenuIcon-sprite.png) no-repeat;
  background-size: 32px;
  background-position: -4px -323px;
  width: 25px;
  height: 25px;
  margin-right: 12px;
}

/* 베이커리‧치즈‧델리 */
.category__item:nth-child(11)::before {
  content: "";
  background: url(../../imgs/Icon/MenuIcon-sprite.png) no-repeat;
  background-size: 32px;
  background-position: -4px -57px;
  width: 25px;
  height: 25px;
  margin-right: 12px;
}

/* 건강식품 */
.category__item:nth-child(12)::before {
  content: "";
  background: url(../../imgs/Icon/MenuIcon-sprite.png) no-repeat;
  background-size: 32px;
  background-position: -4px -536px;
  width: 25px;
  height: 25px;
  margin-right: 12px;
}

/* 와인 */
.category__item:nth-child(13)::before {
  content: "";
  background: url(../../imgs/Icon/MenuIcon-sprite.png) no-repeat;
  background-size: 32px;
  background-position: -4px -485px;
  width: 25px;
  height: 25px;
  margin-right: 12px;
}

/* 전통주 */
.category__item:nth-child(14)::before {
  content: "";
  background: url(../../imgs/Icon/MenuIcon-sprite.png) no-repeat;
  background-size: 32px;
  background-position: -4px -30px;
  width: 25px;
  height: 25px;
  margin-right: 12px;
}

/* 생활용품‧리빙‧캠핑 */
.category__item:nth-child(15)::before {
  content: "";
  background: url(../../imgs/Icon/MenuIcon-sprite.png) no-repeat;
  background-size: 32px;
  background-position: -4px -110px;
  width: 25px;
  height: 25px;
  margin-right: 12px;
}

/* 스킨케어‧메이크업 */
.category__item:nth-child(16)::before {
  content: "";
  background: url(../../imgs/Icon/MenuIcon-sprite.png) no-repeat;
  background-size: 32px;
  background-position: -4px -164px;
  width: 25px;
  height: 25px;
  margin-right: 12px;
}

/* 헤어‧바디‧구강 */
.category__item:nth-child(17)::before {
  content: "";
  background: url(../../imgs/Icon/MenuIcon-sprite.png) no-repeat;
  background-size: 32px;
  background-position: -4px -457px;
  width: 25px;
  height: 25px;
  margin-right: 12px;
}

/* 주방용품 */
.category__item:nth-child(18)::before {
  content: "";
  background: url(../../imgs/Icon/MenuIcon-sprite.png) no-repeat;
  background-size: 32px;
  background-position: -4px -217px;
  width: 25px;
  height: 25px;
  margin-right: 12px;
}

/* 가전제품 */
.category__item:nth-child(19)::before {
  content: "";
  background: url(../../imgs/Icon/MenuIcon-sprite.png) no-repeat;
  background-size: 32px;
  background-position: -4px -297px;
  width: 25px;
  height: 25px;
  margin-right: 12px;
}

/* 반려동물 */
.category__item:nth-child(20)::before {
  content: "";
  background: url(../../imgs/Icon/MenuIcon-sprite.png) no-repeat;
  background-size: 32px;
  background-position: -4px -350px;
  width: 25px;
  height: 25px;
  margin-right: 12px;
}

/* 베이비‧키즈‧완구 */
.category__item:nth-child(21)::before {
  content: "";
  background: url(../../imgs/Icon/MenuIcon-sprite.png) no-repeat;
  background-size: 32px;
  background-position: -4px -404px;
  width: 25px;
  height: 25px;
  margin-right: 12px;
}

/* 여행‧티켓 */
.category__item:nth-child(22)::before {
  content: "";
  background: url(../../imgs/Icon/MenuIcon-sprite.png) no-repeat;
  background-size: 32px;
  background-position: -4px -509px;
  width: 25px;
  height: 25px;
  margin-right: 12px;
}
